@import url('https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body{
    background: linear-gradient(to right,#CDA52E,#12EDC8);
}

.container{
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.quoteCard{
    display: flex-column;
    /* border: 1px solid blue; */
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;

}

.innerQuote{
    border-radius: 0.5em;
    background-color: white;
    border: 1em solid #06BDC1;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 0 5em;
    justify-content: center;
    margin: 2em 2em 1em 2em;

}

#quote{
    font-family: 'Comfortaa', cursive;
    font-size: 4vw;
}

#author{
     font-family: 'Beau Rivage', cursive;
     font-size: 5vw
}


@media (max-width:480px) {
    .innerQuote{
        margin: 0;
        padding: 0 5px;
    }
}